html, body, div, p, h1, h2 {
    padding: 0;
    margin: 0;
}

pre {
    display: block;
    width: 100%;
    overflow: hidden;
    background: white;
    padding: 10px;
    border: 1px solid lightgray;
    font-family: monospace;
    margin: 10px 0;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-flex-row {
    flex-direction: row;
}

h2 {
    padding-bottom: 10px;
}

.nav-button {
    display: inline-block;
    min-width: 50px;
    height: 18px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;
    padding: 10px;
}

.nav-button:hover {
    background-color: #6e8abe;
}

#main-container {
    max-width: 800px;
}

#header-container, #footer-container {
    background-color: lightsteelblue;
    min-height: 40px;
}

#header-container {
    padding: 10px;
    align-items: center;
}

#header-container h1 {
    display: inline-block;
    color: black;
    height: 100%;
}

#header-container img.logo {
    display: inline-block;
    height: 70px;
    width: 100px;
    margin-right: 30px;
}

#nav-container {
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-evenly;
    background-color: lightblue;
    padding: 10px 0;
}

#content-container {
    padding: 40px;
    background-color: antiquewhite;
}

#footer-container {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Helvetica;
    color: white;
}

.form-element {
    margin: 5px 0;
}
.form-element label {
    display: block;
    margin-top: 10px;
}

.form-element-inline {
    display: inline-block;
}

.form-element-inline label {
    display: inline;
    margin: 10px 0;
}

.form-element input[type="text"], .form-element textarea, .form-element select {
    display: block;
    margin-top: 5px;
}

.form-element input[type="text"], .form-element select {
    min-height: 1.9em;
}

.form-element input[type="text"], .form-element textarea {
    width: 100%;
}

button[type="submit"] {
    width: 150px;
    height: 30px;
}

.form-element input.valid, .form-element select.valid, .form-element textarea.valid {
    border: 1px solid green;
}

.form-element input.invalid, .form-element select.invalid, .form-element textarea.invalid {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-family: sans-serif;
}

.form-element .error-message {
    font-style: italic;
    font-size: 12px;
}

.form-element-inline .error-message {
    /*display: block;*/
    margin-left: 5px;
}

.oglas-container {
    display: block;
    background-color: #e7c89b;
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px;
}

.oglas-container small {
    font-size: 10px;
    display: block;
    padding-bottom: 15px;
}

#about-container p {
    padding: 10px;
}