{% extends 'base.html' %}
{% block content %}
  <div id="form-container">
    <h2>Novi oglas</h2>
    <hr />
    <form id="main-form">
      <div class="form-element">
        <label>
          Ime ljubimaca
          <input type="text" name="pet_name" placeholder="Ime ljubimaca" />
        </label>
        <span class="error-message"></span>
      </div>
      <div class="form-element">
        <label>
          Rod
          <select name="pet_family">
            <option value="cat">Macka</option>
            <option value="dog">Pas</option>
            <option value="rabbit">Zec</option>
          </select>
        </label>
      </div>
      <div class="form-element">
        <label>
          <input type="checkbox" name="has_chip"> Da li ima chip?
        </label>
      </div>
      <fieldset>
        <legend>Sto se desilo?</legend>
      <div class="form-element form-element-inline">
        <label>
          <input type="radio" value="lost" name="event_type">Izgubljen
        </label>
        <label>
          <input type="radio" value="found" name="event_type">Nađen
        </label>
        <span class="error-message"></span>
      </div>
      </fieldset>
      <div class="form-element">
        <label>
          Kontakt telefon
          <input type="text" name="phone" placeholder="Broj telefona" />
        </label>
        <span class="error-message"></span>
      </div>
      <div class="form-element">
        <label>
          Ostali podaci
          <textarea rows="4" name="comments"></textarea>
        </label>
        <span class="error-message"></span>
      </div>
      <button type="submit">Posalji oglas</button>
    </form>
  </div>
{% endblock %}