{% extends 'base.html' %}
{% block content %}
  <div id="about-container">
    <h2>O projektu</h2>
    <hr />
    <p>
      Ovaj projekat je napravlen isklucivo sa ciljom demonstracije.
      Sastoji se od veoma jednostavnog servera na bazi Flask'a, i frontend-dela.
    </p>
    <p>
      Posto je serverski deo napravlen isklucivo sa ciljom obezbeđenja demonstracije AJAX
      zahteva, navigacije i koriscenja template'ov, uopste ne postoje ikakvoj
      server-side validacije (što naravno nije prihvatlivo na projektu iz stvarnog zivota).
    </p>
  </div>
{% endblock %}